@using System.Web.Optimization
@using Fpm.MainUI
@model Fpm.ProfileData.Entities.User.FpmUser
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Create User";
}
@Scripts.Render("~/user.js")

<div class="standardWidth">
    @using (Html.BeginForm("InsertUser", "User", FormMethod.Post, new { id = "SaveNewUser" }))
    {
        <div class="delete-indicators">
            <label class="content-item-detail-label">Display Name:<br>e.g. "Sarah Smith"</label>
            @Html.TextBoxFor(model => model.DisplayName, new { @class = "unselected-domain" })
            <span class="field-validation-valid" data-valmsg-for="DisplayName" data-valmsg-replace="true"></span>
            <br />
        </div>
        <div class="delete-indicators">
            <label class="content-item-detail-label">User Name:<br>e.g. "phe\sarah.smith"</label>
            @Html.TextBoxFor(model => model.UserName, new { @class = "unselected-domain" })
            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
            <br />
        </div>
        <div class="delete-indicators">
            <label class="content-item-detail-label">Is Administrator:</label>@Html.CheckBoxFor(model => model.IsAdministrator)
            <br />
        </div>
        <p>
            <input class="medium-button" id="Confirm" type="submit" value="Confirm" />
        </p>
        <p>
            <input class="medium-button" id="CancelBtn" type="button" onclick="location.href = '@Url.Action("UserIndex")'" value="Cancel"/>
        </p>
    }
</div>
