@using System.Web.Optimization
@using Fpm.MainUI
@using Fpm.ProfileData.Entities.Profile
@model Fpm.MainUI.ViewModels.EditUserViewModel

@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - User Manager";
}
<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css" />
@Scripts.Render("~/user.js")

@using (Html.BeginForm("", "User", FormMethod.Post, new { id = "EditUser" }))
{
    @Html.HiddenFor(model => model.FpmUserId)

    <h2 class="subheading">Edit user</h2>

    if (Model.IsMemberOfFpmSecurityGroup == false)
    {
        <p class="warning">@Model.DisplayName is not a member of the FPM Security Group so will not be able to access the FPM site</p>
    }

    <div class="row form-group">
        <label class="col-md-2 col-form-label">Display Name</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control" })
        </div>
        <span data-valmsg-for="DisplayName" data-valmsg-replace="true"></span>
    </div>

    <div class="row form-group">
        <label class="col-md-2 col-form-label">User Name</label>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        </div>
        <span data-valmsg-for="UserName" data-valmsg-replace="true"></span>
    </div>

    <div class="row form-group">
        <label class="col-md-2 col-form-label">Is Administrator</label>
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.IsAdministrator, new { @class = "form-control" })
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-2 col-form-label">Is Reviewer</label>
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.IsReviewer, new { @class = "form-control" })
        </div>
    </div>

    <div class="row form-group">
        <label class="col-md-2 col-form-label">Is Current</label>
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.IsCurrent, new { @class = "form-control" })
        </div>
    </div>

    <div class="row form-group ">
        <div class="col-md-12">
            <input class="btn btn-primary" id="Confirm" type="submit" value="Save" name="action:UpdateUser" />
            <input class="btn btn-secondary" id="CancelBtn" type="button" onclick="location.href = '@Url.Action("UserIndex")'" value="Cancel" />
        </div>
    </div>

    <br>

    <h3>Manage user profiles</h3>
    <div class="row form-group">
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList, new { id = "profileId", @class = "form-control" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-6">
            <input class="btn btn-primary " id="AddBtn" type="submit" name="action:AddProfilePermissionToUser" value="Add Profile" />
            <input class="btn btn-primary " id="RemoveBtn" type="submit" name="action:RemoveProfilePermissionFromUser" value="Remove Profile" />
            <input class="btn btn-secondary " id="CancelBtn" type="button" onclick="location.href = '@Url.Action("UserIndex")'" value="Cancel" />
        </div>
        <div class="col-md-6">
            <input class="btn btn-primary " id="RemoveAllBtn" type="submit" name="action:RemoveAllProfilePermissionsFromUser" value="Remove All Profiles" />
        </div>
    </div>

    <br>

    @Html.Partial("_ProfileList", (IEnumerable<ProfileDetails>)ViewBag.ProfilesUserHasPermissionTo)
}
