@using Profiles.MainUI.Models;
@model PageModel
<a href="/content" class="visuallyhidden">Skip to content</a>

<div id="header">
    @Html.Partial("_Header")
    <div id="header_nav">
        <div id="nav_wrap">
            <div id="nav_border" class="clearfix">               
@*                <p class="header_summary_tag">@ViewBag.Title</p>*@
                <ul>
                    @{var stem = "/topic/" + ViewBag.ProfileUrlKey + "/";}
                    <li id="home-nav"><a href="javascript:MT.nav.home();">Home</a></li>
                    <li id="rankings-nav"><a href="javascript:MT.nav.nationalRankings();">National comparisons</a></li>
                    <li id="about-project-nav"><a href="@(stem)about-project">About the project</a></li>
                    <li id="about-data-nav"><a href="@(stem)about-data">About the data</a></li>
                    <li id="connect-nav"><a href="@(stem)connect">Connect</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
