@using Fpm.MainUI
@using Fpm.MainUI.Helpers
@using Fpm.ProfileData

@model Fpm.MainUI.Models.TargetEditModel
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Edit goal";
}
<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css" />
<script src="@(AppConfig.JsPath)lookup-tables.js" type="text/javascript"></script>

<div class="standardWidth">
    <h2 class="subheading">Edit goal</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Target.Id)
        <table class="edit-table">
            <tr>
                <td>&nbsp;</td>
                <td class="warning">Please do not change this goal unless you have permission to do so</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Target.Description):</td>
                <td>
                    @Html.TextBoxFor(x => x.Target.Description,
                        new { @class = "long-text unselected-domain" })
                    <span class="field-validation-valid" data-valmsg-for="Target.Description"
                          data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Target.LowerLimit):</td>
                <td>
                    @Html.TextBoxFor(x => x.Target.LowerLimit,
                            new { @class = "number unselected-domain" })
                    <span class="field-validation-valid" data-valmsg-for="Target.LowerLimit"
                          data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Target.UpperLimit):<br>(leave blank if not required)</td>
                <td>
                    @Html.TextBoxFor(x => x.Target.UpperLimit,
                            new { @class = "number unselected-domain" })
                    <span class="field-validation-valid" data-valmsg-for="Target.UpperLimit"
                          data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Target.PolarityId):</td>
                <td>
                    @Html.DropDownListFor(x => x.Target.PolarityId,
                        CommonUtilities.GetListOfTargetPolarityTypes())
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input class="medium-button" name="button" type="submit" value="Save" />
                    <input class="medium-button" type="button" onclick="setUrl('@SiteUrls.TargetIndex')"
                           value="Cancel" />
                    @if (UserDetails.CurrentUser().IsAdministrator)
                    {
                        <input class="auto-width-button" name="button" type="submit" value="Delete (admin only)" />
                    }
                </td>
            </tr>
        </table>
    }
</div>
