@using Fpm.MainUI.Helpers
@model Fpm.MainUI.ViewModels.Profile.ProfileViewModel

<h3>Tabs</h3>

<div class="row form-group profile-options">
    <div class="col-md-2">
        @Html.CheckBoxFor(model => model.IsMapTab)
        <label class="col-form-label">Map</label>
    </div>
    

    <div class="col-md-2">
        @Html.CheckBoxFor(model => model.IsEnglandTab)
        <label class="col-form-label">England</label>
    </div>
    

    <div class="col-md-2">
        @Html.CheckBoxFor(model => model.IsPopulationTab)
        <label class="col-form-label">Population</label>
    </div>

    <div class="col-md-2">
        @Html.CheckBoxFor(model => model.IsInequalitiesTab)
        <label class="col-form-label">Inequalities</label>
    </div>


</div>

<div class="row form-group profile-options">
    
    <div class="col-md-2">
        @Html.CheckBoxFor(model => model.IsScatterPlotTab,
             TooltipHelper.GetTooltipRight("Scatter plot for comparing two indicators"))
        <label class="col-form-label">Compare indicators</label>
    </div>

    <div class="col-md-2">
        @Html.CheckBoxFor(model => model.IsBoxPlotTab)
        <label class="col-form-label">Box plots</label>
    </div>

    <div class="col-md-2">
        @Html.CheckBoxFor(model => model.IsReportsTab,
            TooltipHelper.GetTooltipRight("SSRS reports tab"))
        <label class="col-form-label">Reports</label>
    </div>
</div>