@using System.Web.Optimization
@using Fpm.MainUI.Helpers
@model Fpm.MainUI.ViewModels.Profile.ProfileViewModel

@{
    var isUserAdmin = UserDetails.CurrentUser().IsAdministrator;
    var selectedContactUserIds = ViewBag.SelectedContactUserIds;
}

@Scripts.Render("~/js/select2.min.js")

@if (isUserAdmin)
{
    <div class="row form-group">
        <label class="col-md-3 col-form-label">ID:</label>
        <div class="col-md-4">
            @Model.Id
        </div>
    </div>
}

<div class="row form-group" id="edit-profile-non-admin">
    <label class="col-md-3 col-form-label">Name:</label>
    @if (Model.IsProfileViewable)
    {
        <div class="col-md-3 pull-right text-right">
            <a href="@CommonUtilities.GetTestSiteUrl(Model.UrlKey)" target="_blank">View selected profile in Fingertips</a>
        </div>
    }
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.Name, new { @class = "unselected-domain" })
        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
    </div>
</div>

<div class="row form-group">
    <label class="col-md-3 col-form-label">Default area type:</label>
    <div class="col-md-4">
        @Html.DropDownListFor(m => m.DefaultAreaTypeId, null)
    </div>
</div>

<div class="row form-group">
    <label class="col-md-3 col-form-label">Profile contact(s):</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.ContactUserIds, null, new { @class = "profile-contacts", multiple = "multiple" })
        <input type="hidden" id="hdn-contact-user-ids" value="@selectedContactUserIds" />
    </div>
</div>

<div class="row form-group">
    <label class="col-md-3 col-form-label">Default Fingertips tab:</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.DefaultFingertipsTabId, null,
                           TooltipHelper.GetTooltipRight("The tab that will be displayed when the user first navigates to the data page"))
    </div>
</div>

<div class="row form-group">
    <label class="col-md-3 col-form-label">Spine chart min/max header label:</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.SpineChartMinMaxLabelId, null,
                           TooltipHelper.GetTooltipRight("The headings that will be displayed in the spine chart table under the 'Area profiles' tab in Fingertips"))
    </div>
</div>

<div class="row form-group">
    <label class="col-md-3 col-form-label">Area search on front page?</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.FrontPageAreaSearchAreaTypes, null,
                           TooltipHelper.GetTooltipRight("Allows the user to search for areas of specific types"))
    </div>
</div>

<div class="row form-group">
    <label class="col-md-3 col-form-label">Monthly updates to highlight new data:</label>
    <div class="col-md-4">
        @Html.DropDownListFor(model => model.NewDataDeploymentCount, null,
                           TooltipHelper.GetTooltipRight("The period of time during which indicators will be highlighted as having been recently updated in Fingertips"))
    </div>
</div>
