@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" href="/favicon.png" type="image/png">
        @Styles.Render("~/css/bootstrap")
        @Styles.Render("~/css/site")
        @Scripts.Render("~/js/jquery")
        @Scripts.Render("~/js/tablesorter")
        @Scripts.Render("~/js/underscore")
        @Scripts.Render("~/js/modernizr")
        @Scripts.Render("~/js/common")
    </head>
    <body>
        <div class="container"> 
            @Html.Partial("_BannerB")
            <div id="main" class="clearfix">
                @Html.Partial("_LightboxAndInfobox")
                @RenderBody()
            </div>
            @Html.Partial("_FooterB")
        </div>
    </body>
</html>
