@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <link rel="icon" href="/favicon.png" type="image/png">
    @Styles.Render("~/css/site")
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/tablesorter")
    @Scripts.Render("~/js/underscore")
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/common")
    @Scripts.Render("~/js/bootstrap")
    @RenderSection("ExtraScripts", required:false)

</head>
<body>
    @Html.Partial("_Banner")
    <div id="main" class="container">
        <div class="row no-gutters">
            @Html.Partial("_LightboxAndInfobox")
            @RenderBody()
        </div>
    </div>
        @Html.Partial("_Footer")
        @RenderSection("AngularApp", required: false)
</body>
</html>
