@using Profiles.DomainObjects
@using Profiles.MainUI.Helpers
@using Profiles.MainUI.Models
@model PageModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section headContent {
    @Html.Partial(Model.GetSkinView("_SkinSpecificJavaScriptAndCssForContentPages"))
    @Html.Partial("_TwitterStyle")
    <script type="text/javascript">
//<![CDATA[
        Twitter_Handle = '@(Model.GetTwitterHandle())';
        //]]</script>
}

<div class="title-divider"></div>
@{
    HtmlString recentUpdates = ContentProvider.GetRecentUpdates(Model.ProfileId);
    var updateLength = recentUpdates.ToString().Length;
    var updatesCssClass = updateLength > 700 ? "scrollable-box" : "";
    var areUpdates = updateLength > 0;
}
<div id="public-health-outcomes-framework" class="container">
    <div class="row">
        @Html.Partial("_UpdateDelayedMessage")
        <div class="col-md-8">
            @if (Model.Skin.IsPhof)
            {
                @Html.Partial(Model.GetSkinView("_PhofDomains"))
            }
        </div>
        <div class="col-md-4">
            @if (Model.Skin.IsPhof)
            {
                @Html.Partial("_TwitterFeed")
            }
        </div>
    </div>
</div>
<div id="search-box-public-health-outcomes-framework" class="container">
    <div class="row">

        <div id="introduction" class="col-md-8">
            @Html.Partial("~/Views/AreaSearch/_IntroductionAreaSearch.cshtml")
            @ContentProvider.GetIntroduction(Model.ProfileId)
        </div>
        @if (areUpdates)
        {
            <div id="recent-updates" class="col-md-4">
                @if (Model.Skin.IsTobacco)
                {
                    @Html.Partial("_StartButton")
                }
                <h2>Recent updates</h2>
                <div class="@updatesCssClass">
                    @recentUpdates
                </div>
            </div>
        }
    </div>
</div>
