@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Models
@model PageModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section headContent {
    @Html.Partial("_JavaScriptAndCssExtraForAreaSearch")
    @Html.Partial("_JavaScriptAndCssForContentPage")
}
<div class="title-divider"></div>
<div id="single-profile-with-front-page">
    <div class="container">
        <div class="row">
            @Html.Partial("_UpdateDelayedMessage")
        </div>
    </div>
    @Html.Partial("_IntroductionAndRecentUpdates")
    @if (Model.ProfileId == ProfileIds.PracticeProfiles)
    {
        @Html.Partial("_PracticeProfilesDomainCollection")
    }
</div>