@using Fpm.MainUI
@using Fpm.MainUI.Helpers
@model Fpm.Upload.SimpleUpload
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Upload Simple Indicator";
}

<script src="@(AppConfig.JsPath)upload-manager.js" type="text/javascript"></script>
<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css" />

<div id="spinner" style="display: none;">
    <img src="/images/ajax-loader.gif" alt="" class="spinner" />
</div>
<div class="standardWidth" style="padding-top: 15px;">
    <h2 class="subheading">Upload validation</h2>
    <table class="summary-table">
        @Html.Partial("_UploadValidationSummary", Model)
        <tr>
            <td class="left">&nbsp;</td>
            <td>
                <div class="button-panel standardWidth">

                    @if (UploadHelper.AnyDisallowedIndicators(ViewBag.Disallowed))
                    {
                        @Html.Partial("_DisallowedIndicators")
                    }
                    else if (Model.CanFileBeUploaded())
                    {
                        if (Model.DuplicateRowInDatabaseErrors.Any())
                        {
                            @Html.Partial("_UploadAndArchiveButton", Model)
                        }
                        else
                        {
                            using (Html.BeginForm("UploadSimpleData", "Upload", FormMethod.Post, new { id = "insertDataForm" }))
                            {
                                @Html.Hidden("excelFilePath", Model.FileName)
                                @Html.Hidden("shortFilename", Model.ShortFileName)
                                @Html.Hidden("selectedWorksheet", Model.SelectedWorksheet)
                                @Html.HiddenFor(x => x.UploadBatchId)
                                <p>
                                    <input type="button" id="insert-data-to-holding-table"
                                           class="show-spinner medium-button" value="Upload data" />
                                </p>
                            }
                        }
                    }

                    @Html.HiddenFor(x => x.FileName)
                    @Html.HiddenFor(x => x.SelectedWorksheet)

                    <input type="button" id="cancel-spreadsheet" value="Cancel" class="medium-button"
                           onclick="location.href='@Url.Action("Index", "Upload")    '" />
                </div>

            </td>
        </tr>
    </table>

    @Html.Partial("_UploadErrors", Model)
</div>