@using Fpm.MainUI
@model Fpm.MainUI.Models.DocumentsGridModel
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Document Management";
}

<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css" />
<script src="@(AppConfig.JsPath)document-manager.js" type="text/javascript"></script>

<div class="standardWidth">       

    <form id="DocManagementForm"  action="/Documents" method="GET">
        <h2 class="subheading">Documents
        <span class="info-tooltip"><i>Use this page to upload documents that you need to create links to in content. The documents can be of any type.</i></span></h2>
        <div class="standardWidth">
            <b>Profile:</b>
            @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList, 
                new {@Id= "selectedProfile", @Name="selectedProfile",  @Class = "create-indicator-dropdown" })       
            @Html.Hidden("sortBy", Model.SortBy)
            @Html.Hidden("ascending", Model.SortAscending)
        </div>
    </form>   
    
    <div class="standardWidth clearfix">
        <div class="button-box">
            <input type="button" value="Upload document" class="auto-width-button" onclick="showUploadControl()" />
        </div>
    </div>

    <br />
    <div id="upload-control" class="standardWidth upload-browse-control filtering clearfix" style="display: none;">
        <form id="documentUpload" action="/DocumentUpload" enctype="multipart/form-data" method="post" novalidate="novalidate">
            <input id="selectedProfileId" name="selectedProfileId" type="hidden" />
            <div>
                <div class="browse-control">
                    <b>Select file to upload:&nbsp;</b>
                    <input type="file" id="fileToBeUploaded" name="fileToBeUploaded" size="47">
                </div>
                <div id="selectedUploadFile" class="upload-browse hidden"></div>
            </div>
        </form>
    </div>

    @if (Model.DocumentItems != null)
    {
        <p>If you upload a document with the same name as an existing file then the old version will be replaced by the new version.</p>
        if (Model.DocumentItems.Count > 0)
        {
            <table class="grid sortable">
                <thead>
                    <tr>
                        <th class="header">Date uploaded</th>
                        <th class="header">File name</th>
                        <th class="header">Content URL</th>
                        <th class="header">Download</th>
                    </tr>
                </thead>
                @foreach (var doc in Model.DocumentItems)
                {
                    var path = "documents/" + doc.FileName;
                    <tr>
                        <td class="left">
                            @doc.UploadedOn.ToShortDateString()
                        </td>
                        <td class="left">
                            @doc.FileName
                        </td>
                        <td class="left">
                            /@path
                        </td>
                        <td>
                            <a href="@AppConfig.DefaultTestUrl@path" target="_blank" 
                               title="Download @doc.FileName from the test site">Download</a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="document-message">No documents have been uploaded yet for this profile</div>
        }        
    }   
   
</div>
<div id="errorInfoBox" style="top: 750px; left: 699.5px; width: 500px; display: none;">
    <div id="error-message">
        <h3 style="text-align: center;">File name is already used by another profile</h3>
        <br>
        <input class="medium-button" type="button" onclick="lightbox.hide()" value="OK" style="margin-left: 37%;"/>
    </div>
    <div class="close" onclick="lightbox.hide();"></div>
</div>


<div id="overwriteInfoBox" style="top: 750px; left: 699.5px; width: 500px; display: none;">
    <div id="overwrite-message">
        <h3 style="text-align: center;">This will overwrite the current file</h3>
        <br>
        <div>
            <input class="medium-button" type="button" onclick="submitForm()" value="OK" style="margin-left: 23%;"/>
            <input class="medium-button" type="button" onclick="donotOverwrite()" value="Cancel" style="margin-left: 10%;"/>
        </div>
    </div>
    <div class="close" onclick="lightbox.hide();"></div>
</div>