@using Fpm.MainUI
@model IEnumerable<Fpm.ProfileData.Entities.Profile.ContentAudit>
<script src="@(AppConfig.JsPath)common-functions.js" type="text/javascript"></script>
<div style="height: 500px; overflow: auto">
    <h3>
        Content Audit History
    </h3>
    <table class="sortable" style="width:auto">
        <thead>
            <tr>
                <th class="header">Date</th>
                <th class="header">Content Key</th>
                <th class="header">User</th>
                <th class="header">From</th>
                <th class="header">To</th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowNumber = 0;
            }

            @foreach (var contentAudit in Model)
            {
                if (rowNumber % 2 == 0)
                {
                <tr class="odd">
                    <td>@contentAudit.Timestamp</td>
                    <td>@contentAudit.ContentKey</td>
                    <td>@contentAudit.UserName</td>
                    <td>@contentAudit.FromContent</td>
                    <td>@contentAudit.ToContent</td>
                </tr>
                }
                else
                {
                <tr class="even">
                    <td>@contentAudit.Timestamp</td>
                    <td>@contentAudit.ContentKey</td>
                    <td>@contentAudit.UserName</td>
                    <td>@contentAudit.FromContent</td>
                    <td>@contentAudit.ToContent</td>
                </tr>
                }
                rowNumber++;
            }
        </tbody>
    </table>
</div>

<p>
    <input class="small-button" id="Cancel" onclick="lightbox.hide()" value="Cancel" />
</p>

