@using System.Web.Optimization
@using Fpm.MainUI
@using Fpm.MainUI.Helpers
@model Fpm.MainUI.Models.ContentGridModel
@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@{
    ViewBag.Title = "FPM - Content Manager";
    var hasUserAccessToProfile = UserDetails.CurrentUser().HasWritePermissionsToProfile(Model.ProfileId);
}
<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css" />
@Scripts.Render("~/content.js")

<div id="content-index" class="standardWidth">
    @using (Html.BeginForm("ContentIndex", "Content", FormMethod.Get, new { id = "IndicatorManagementForm" }))
    {
        <h2 class="subheading">Content in Fingertips</h2>

        // Profile drop down
        <div class="standardWidth">
            <b>Profile:</b>
            @Html.DropDownListFor(model => model.ProfileId, Model.ProfileList,
                new { @Id = "profileId", @Name = "profileId", @Class = "create-indicator-dropdown" })
            @Html.Hidden("sortBy", Model.SortBy)
            @Html.Hidden("ascending", Model.SortAscending)
            <input type="hidden" id="resetArea" name="resetArea" value="false" />
        </div>

        @Html.Partial("_ContentItemTable", Model.ContentItems)
    }

    <div class="button-box">
        @if (hasUserAccessToProfile)
        {
            <input type="button" value="New Content" 
                   onclick="location.href = '@Url.Action("CreateContentItem", "Content", new {selectedProfile = Model.ProfileId})'" />
        }
        <input type="button" id="audit_history" value="Show History" />
    </div>
</div>

<div class="a-modal">
    <!-- Place at bottom of page -->
</div>

