@using System.Web.Optimization
@using Fpm.MainUI
@using Fpm.MainUI.Helpers
@model Fpm.ProfileData.Entities.Profile.ContentItem
<link href="@(AppConfig.JsPath)tiny_mce/skins/lightgray/skin.min.css" rel="stylesheet" type="text/css" />

<script src="@(AppConfig.JsPath)tiny_mce/tinymce.min.js" type="text/javascript"></script>
<script src="@(AppConfig.JsPath)tiny_mce/jquery.tinymce.min.js" type="text/javascript"></script>
@Scripts.Render("~/content.js")

@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }

@{
    var isUserAdmin = UserDetails.CurrentUser().IsAdministrator;
    var hasUserAccessToProfile = UserDetails.CurrentUser().HasWritePermissionsToProfile(Model.ProfileId);
}

@using (Html.BeginForm("UpdateContentItem", "Content", FormMethod.Post, new { id = "EditContent" }))
{
    <h2 class="subheading col-md-12">Edit content</h2>
    @Html.Partial("_ContentErrorMessage")
    <div class="row form-horizontal">
        <label class="col-lg-2 control-label">Profile:</label>
        <div class="col-lg-10 form-control-static">@ViewBag.ProfileName</div>
    </div>

        <div class="row form-group form-horizontal">
            <label class="col-lg-2 control-label">Content Key:</label>
            <div class="col-lg-10">
                @if (isUserAdmin)
                {
                    @Html.TextBoxFor(model => model.ContentKey, new { @class = "form-control" })
                    <span class="field-validation-valid" data-valmsg-for="ContentKey" data-valmsg-replace="true"></span>
                }
                else
                {
                    @Model.ContentKey
                }
            </div>
        </div>

        @Html.Partial("_ContentDescription")

        @* Plain text checkbox *@
if (Model.IsPlainText && isUserAdmin == false)
{
    <div class="row form-group form-horizontal">
        <label class="col-lg-2 control-label">Plain text:</label>
        <div class="col-lg-10">
            @Html.HiddenFor(x => x.IsPlainText)
            @Html.CheckBox("IsPlainText", Model.IsPlainText, new
       {
           value = Model.IsPlainText,
           disabled = "disabled",
           id = "disabledCheckBox",
           @class = "form-control"
       })
        </div>
    </div>
}
else
{
    @Html.Partial("_PlainTextCheckbox")
}
    @Html.Partial("_PlainTextWarning")
    @Html.Partial("_ContentTextArea")

    @Html.HiddenFor(x => x.ProfileId)
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Description)
    @Html.HiddenFor(x => x.ContentKey)
    @Html.HiddenFor(x => x.Content, new { @Id = "oldContent", @Name = "oldContent" })

    <div class="row form-group">

        <div class="form-control-static col-lg-12">
            @if (hasUserAccessToProfile)
                {
                <input class="btn btn-primary" id="confirm" type="submit" value="Save" />
            }
            @Html.Partial("_CancelButton", Model.ProfileId)

            @if (hasUserAccessToProfile)
                {
                <input class="btn btn-danger" id="delete" type="button" value="Delete" />
            }
            else
            {
                <p class="warning">You do not have permission to save changes for "@ViewBag.ProfileName"</p>
            }
        </div>
    </div>

}
