@using System.Web.Optimization
@using Fpm.MainUI
@model List<Fpm.ProfileData.Entities.UserFeedback.UserFeedback>

@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }

@{
    ViewBag.Title = "User Feedback";
}
<link href="@(AppConfig.CssPath)TableSorter.css" rel="stylesheet" type="text/css"/>
@Scripts.Render("~/userfeedback.js")

<div class="standardWidth">
    <h2 class="subheading">User Feedback</h2>
    
    <p>Add useful feedback that cannot easily be resolved to <a target="_blank" href="https://digitaltools.phe.org.uk/confluence/display/FIN/Unresolved+user+feeback">Unresolved user feedback</a></p>

    <table id="user-feedback" class="grid sortable">
        <colgroup>
            <col style="width: 5%">
            <col style="width: 3%">
            <col style="width: 21%">
            <col style="width: 21%">
            <col style="width: 14%">
            <col style="width: 3%">
            <col style="width: 10%">
        </colgroup>
        <thead>
        <tr>
            <th class="header">Time</th>
            <th class="header">Env</th>
            <th class="header">What user was doing</th>
            <th class="header">What went wrong</th>
            <th class="header">Email</th>
            <th class="header">Url</th>
            <th class="header">Notes</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var feedback in Model)
        {
            string date = feedback.Timestamp.ToString("yyyy/MM/dd");
            <tr>
                <td class="left center">@Html.ActionLink(date, "SingleUserFeedbackItem", 
                                            new { feedbackId = feedback.Id })</td>
                <td class="left center">@feedback.Environment</td>
                <td class="left" style="word-wrap: break-word">@feedback.WhatUserWasDoing</td>
                <td class="left" style="word-wrap: break-word">@feedback.WhatWentWrong</td>
                <td class="left">@feedback.Email</td>
                <td class="left center" style="word-wrap: break-word;">
                    <a href="@feedback.Url" target="_brank">Link</a>
                </td>
                <td class="left">@feedback.Comment</td>
            </tr>
        }
        </tbody>
    </table>

    <div id="feedback-detail" class="container" style="display: none;">
        <h3>Close user feedback</h3>
        <div class="form-group row">
            <div class="col-md-2 control-label">Comment</div>
            <div class="col-md-2"><textarea id="feedback-comment" rows="4" cols="50"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 col-md-offset-2">
                <button class="btn btn-primary" onclick="feedbackCommentAndArchive()">Close</button> <button class="btn btn-default" onclick="feedbackCancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>