@using Fpm.MainUI.Helpers
@using Fpm.MainUI.Models
@model CopyIndicatorsModel
<div id="copyIndicators" style="display: none;">
    @using (Html.BeginForm("ConfirmCopyIndicators", "ProfilesAndIndicators", FormMethod.Get, new { id = "CopyIndicatorForm" }))
    {
        <div>
            @Html.Partial("_FromMenus", Model)
            @Html.HiddenFor(x => x.GroupId)
            
            <h3>To:</h3>

            @{ const string cssClasses = "create-indicator-dropdown dropdown-selected"; }
            <p>
                <label class="short-associated-detail-label">Profile:</label>
                @Html.DropDownListFor(m => m.TargetProfileUrlKey, 
                (IEnumerable<SelectListItem>)ViewBag.listOfProfiles,
                     new { @class = cssClasses })
            </p>

            <p>
                <label class="short-associated-detail-label">Domain:</label>
                @Html.DropDownListFor(model => model.TargetGroupId, Model.ListOfDomains,
                     new {  @class = cssClasses })
            </p>

            <p>
                <label class="short-associated-detail-label">Area:</label>
                @Html.DropDownListFor(model => model.TargetAreaTypeId, CommonUtilities.GetListOfSupportedAreaTypes(PleaseSelectOption.NotRequired),
                    new { @class = cssClasses })
            </p>
            
            @Html.Partial("_SexAndAgeMenus")
            
            <div id="copyIndicatorMetadataOptions">
                @Html.CheckBox("copyMetadataOption") <span> Copy any overridden metadata (if applicable)</span>
            </div>
        </div>

        <p>
            <input class="auto-width-button" id="ConfirmCopy" type="button" value="Copy indicators" />
        </p>
        <p>
            <input class="medium-button" id="Cancel" onclick="lightbox.hide()" value="Cancel" />
        </p>
    }
</div>
