@using Fpm.MainUI.Models
@model DeleteIndicatorsModel
<div id="deleteIndicators" style="display: none;">
    @using (Html.BeginForm("ConfirmDeleteIndicators", "ProfilesAndIndicators", FormMethod.Get, new { id = "DeleteIndicatorForm" }))
    {
        <div>
            <h3>Remove indicators</h3>

            @if (Model.IndicatorsThatCantBeRemoved.Any())
            {
                <h3 id="shared-indicators">
                    The following indicators are used elsewhere and cannot be removed:
                </h3>
    <table class="grid">
        @foreach (var indicator in Model.IndicatorsThatCantBeRemoved)
        {
            <tr>
                <td class="left">
                    @indicator.IndicatorId
                </td>
                <td class="left">
                    @indicator.IndicatorName (@indicator.Sex) (@indicator.Age)
                </td>
            </tr>
        }
    </table>
            }

            @if (Model.IndicatorsToDelete != null && Model.IndicatorsToDelete.Any())
            {
                <h3 id="archived-indicators">
                    The following indicators will be removed:
                </h3>
                <table class="grid">
                    @foreach (var indicator in Model.IndicatorsToDelete)
                    {
                        @Html.Hidden("indicator-to-delete" + indicator.IndicatorId, indicator.IndicatorId + "~" + indicator.SexId + "~" + indicator.AgeId, new { @class = "indicator-id" })
                        <tr>
                            <td class="left">@indicator.IndicatorId</td>
                            <td class="left">
                                @indicator.IndicatorName (@indicator.Sex) (@indicator.Age)
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>

        @Html.HiddenFor(x => x.Profile.Id)
        @Html.HiddenFor(x => x.DomainId)
        @Html.HiddenFor(x => x.UrlKey)
        @Html.HiddenFor(x => x.DomainName)
        @Html.HiddenFor(x => x.ProfileName)
        @Html.HiddenFor(x => x.SelectedAreaTypeId)
        @Html.Hidden("indicatorDeleteDetails")

        <p>
            <input class="medium-button" id="ConfirmDelete" type="button" value="Confirm" />
        </p>
        <p>
            <input class="medium-button" id="Cancel" onclick="lightbox.hide()" value="Cancel" />
        </p>
    }
</div>
