@using Fpm.MainUI.Models
@model DeleteIndicatorsModel
<div id="deleteIndicators" style="display: none;">
    @using (Html.BeginForm("ConfirmDeleteIndicators", "ProfilesAndIndicators", FormMethod.Get, new { id = "DeleteIndicatorForm" }))
    {
        <div>
            <h3>Delete indicators</h3>

            @if (Model.IndicatorsToDelete != null && Model.IndicatorsToDelete.Any())
            {
                <h3 id="unassigned-indicators">
                    The following indicators will be permanently deleted from the system.
                    <br /><br />
                    You can use the <i>Download metadata</i> button to download the metadata before proceeding.
                </h3>
                <table class="grid">
                    @foreach (var indicator in Model.IndicatorsToDelete)
                    {
                        @Html.Hidden("indicator-to-delete" + indicator.IndicatorId, indicator.IndicatorId + "~" + indicator.SexId + "~" + indicator.AgeId, new { @class = "indicator-id" })
                        <tr>
                            <td class="left">@indicator.IndicatorId</td>
                            <td class="left">
                                @indicator.IndicatorName (@indicator.Sex) (@indicator.Age)
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>

        @Html.Hidden("indicatorDeleteDetails")


        <p>
            @if (Model.IndicatorsToDelete.Any())
            {
                // Only show confirm button if any indicators can be deleted
                <input class="btn btn-primary" id="ConfirmDelete" type="button" value="Confirm"/>
            }
            <input class="btn btn-default" id="Cancel" onclick="lightbox.hide()" value="Cancel" style="width: 80px;"/>
        </p>
    }
</div>
