@using System.Web.Mvc.Html
@using Fpm.MainUI.Models
@model ProfileMembers
<div id="reorderIndicators" style="display: none;">
    <br />
    <div class="domainHeading">@Model.Profile.GetSelectedGroupingMetadata(Model.Profile.SelectedDomain).GroupName</div>   
    @{
        var currentDomainId = Model.Profile.GetSelectedGroupingMetadata(Model.Profile.SelectedDomain).GroupId;
    }

    @using (Html.BeginForm("SaveReorderedIndicators", "ProfilesAndIndicators", FormMethod.Post))
    {
        @Html.Hidden("currentDomainId", currentDomainId)
        <div>
            @if (Model.Profile.IndicatorNames != null)
            {
                <div class="clear">
                    @for (int p = 0; p < Model.Profile.IndicatorNames.Count(); p++)
                    {
                        <div class="unselected-Indicator indicator">
                            @Model.Profile.IndicatorNames[p].IndicatorName (@Model.Profile.IndicatorNames[p].Sex)
                            @Html.HiddenFor(model => model.Profile.IndicatorNames[p].IndicatorId, new { @class = "indicatorId"})
                            @Html.HiddenFor(model => model.Profile.IndicatorNames[p].SexId, new { @class = "sexId"})
                        </div>    
                    }
                </div>
            }
        </div>
        @Html.HiddenFor(x => x.UrlKey)
        @Html.Hidden("AreaType", Model.Profile.SelectedAreaType)
                @Html.Hidden("IndicatorOrder")

        <p>
            <input id="save" class="small-button" type="submit" value="Save" />
            <input id="cancel" type="button" onclick="lightbox.hide()" class="medium-button" value="Cancel" />
            <input id="reorderUp" type="button" class="medium-button" value="Move Up" />
            <input id="reorderDown" type="button" class="medium-button" value="Move Down" />
        </p>
    }
</div>
