@using Fpm.MainUI.Models
@using Fpm.ProfileData
@model SubmitIndicatorsForReviewModel

<div id="submitIndicatorsForReview" style="display: none;">
    @using (Html.BeginForm("ConfirmSubmitIndicatorsForReview", "ProfilesAndIndicators", FormMethod.Post, new { id = "SubmitIndicatorsForReviewForm"}))
    {
    <div>
        @if (Model.FromGroupId == GroupIds.InDevelopment)
        {
            <h3>Submit indicators for review</h3>
        }
        else
        {
            <h3>Resubmit indicators for review</h3>
        }

    </div>
        if (Model.IndicatorsToReview != null && Model.IndicatorsToReview.Any())
        {
    <div>
        @if (Model.FromGroupId == GroupIds.InDevelopment)
        {
            <span>The following indicators will be submitted for review:</span>
        }
        else
        {
            <span>The following indicators will be resubmitted for review:</span>
        }
        <br />
        <table class="grid">
            @foreach (var indicator in Model.IndicatorsToReview)
            {
                @Html.Hidden("indicator-to-review" + indicator.IndicatorId, indicator.IndicatorId + "~" + indicator.SexId + "~" + indicator.AgeId, new { @class = "indicator-id" })
                <tr>
                    <td class="left">@indicator.IndicatorId</td>
                    <td class="left">
                        @indicator.IndicatorName (@indicator.Sex) (@indicator.Age)
                    </td>
                </tr>
            }
        </table>
    </div>
        }
            <div>
                @Html.HiddenFor(x => x.FromGroupId)
                @Html.HiddenFor(x => x.ToGroupId)
                @Html.HiddenFor(x => x.AreaTypeId)
                @Html.Hidden("indicatorsToReviewDetails")
                <p>
                    <input class="btn btn-primary" id="submit-indicators-for-review-confirm-button" type="button" value="Confirm" />
                    <input class="btn btn-default" id="Cancel" onclick="lightbox.hide()" value="Cancel" style="width: 80px;" />
                </p>
            </div>
    }
</div>
