@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@model IndicatorsUI.MainUI.Models.UserAccess.PageMessageViewModel
@section headContent {
    @Html.Partial("_JavaScriptAndCssForUserAccount")
}
<div class="title-divider"></div>
<div class="container">
    <div class="row col-md-12">
        <div id="div-content">
            <h2>Thank you</h2>
            <h3>@Model.Header</h3>
            <p>@Model.Message</p>

            <a class="form-label-bold a-link" href="@Model.LinkUrl" title="@Model.LinkText">@Model.LinkText</a>
            <br />
            <p>If you have any queries please contact <a href="mailto:profilefeedback@phe.gov.uk?Subject=Fingertips%20help" target="_top" title="profilefeedback@phe.gov.uk">profilefeedback@phe.gov.uk</a></p>
        </div>
    </div>
</div>
