@{ Layout = "~/Views/Shared/_LayoutPage.cshtml"; }
@model IndicatorsUI.MainUI.Models.UserAccess.ResetPasswordViewModel
@section headContent {
    @Html.Partial("_JavaScriptAndCssForUserAccount")
}
<div class="title-divider"></div>
<div class="container">
    <div class="row col-md-12">
        <div id="div-content">
            <div>
                <h2>Reset your password</h2>
                <p>Your password must be least 8 characters and include a minimum of 1 numeric character [0-9]</p>
            </div>
            <div>
                @using (Html.BeginForm("UpdatePassword", "UserAccount", FormMethod.Post, new { id = "frm-reset-login-for-fingertips" }))
                {
                    @Html.ValidationMessage("invalidemail", "", new { @class = "error-message" })
                    Html.EnableClientValidation(true);

                        <div class="form-group">

                            <label class="form-label-bold" for="pwd">
                                <span class="form-label-bold">New Password</span>
                            </label>
                            @Html.PasswordFor(s => s.NewPassword, new { @class = "form-control", id = "newpassword" })
                            @Html.ValidationMessageFor(s => s.NewPassword, "", new { @class = "error-message" })
                        </div>
                        <div class="form-group">
                            <label class="form-label-bold" for="confirm-pwd">
                                Confirm password
                             </label>
                            @Html.PasswordFor(s => s.ConfirmPassword, new { @class = "form-control", id = "confirm-password" })
                            @Html.ValidationMessageFor(s => s.ConfirmPassword, "", new { @class = "error-message" })
                        </div>
                        <div>
                            <p>If you still need help, please contact <a href="mailto:profilefeedback@phe.gov.uk?Subject=Fingertips%20help" target="_top">profilefeedback@phe.gov.uk</a></p>
                            <input class="btn btn-lg btn-primary btn-block col-md-6 col-sm-12 col-lg-5" type="submit" value="Reset your password" />
                        </div>
                        @Html.HiddenFor(d => d.UserId)
                        @Html.HiddenFor(d => d.Token)
                }
            </div>

        </div>
    </div>
</div>
