@using Profiles.DomainObjects
@using Profiles.MainUI.Helpers
@using Profiles.MainUI.Models
@model PageModel
@{
    // Recent updates content
    HtmlString recentUpdates = ContentProvider.GetContent(ContentKeys.RecentUpdates, Model.ProfileId);
    var updatesCssClass = recentUpdates.ToString().Length > 700 ? "scrollable-box" : "";
    var areUpdates = recentUpdates != null && recentUpdates.ToString().Length > 0;
}

<div id="introduction" class="container">
    <div class="row">
        <div class="col-md-8">
            @Html.Partial("~/Views/AreaSearch/_IntroductionAreaSearch.cshtml")
            @ContentProvider.GetContent(ContentKeys.Introduction, Model.ProfileId)
        </div>
        @if (Model.IsTwitterAccount)
        {
            @Html.Partial("_TwitterBox")
        }
        <div id="recent-updates" class="col-md-4">
            @Html.Partial("_StartButton")
            @if (areUpdates)
            {
                <h2>Recent updates</h2>
                <div class="@updatesCssClass">
                    @recentUpdates
                </div>
            }
        </div>
    </div>
</div>