@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Helpers
@using IndicatorsUI.MainUI.Models
@using System.Web.Optimization
@model PageModel
@{
    // Recent updates content
    HtmlString recentUpdates = ContentProvider.GetRecentUpdates(Model.ProfileId);
    var updatesCssClass = recentUpdates.ToString().Length > 700 ? "scrollable-box" : "";
    var areUpdates = recentUpdates.ToString().Length > 0;
}
@Html.Partial("_GoogleMaps")
@Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/js-angular")
<div id="introduction" class="container">
    <div class="row">
        <div class="col-md-8">
            <ft-map></ft-map> @* For practice profiles area search*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.Partial("~/Views/AreaSearch/_IntroductionAreaSearch.cshtml")
            @ContentProvider.GetIntroduction(Model.ProfileId)
        </div>
        @if (Model.IsTwitterAccount)
        {
            @Html.Partial("_TwitterBox")
        }
        <div class="col-md-4">
            <div id="intro-sidebar">
                @Html.Partial("_StartButton")
                @ContentProvider.GetContent(ContentKeys.IntroductionSidebar, Model.ProfileId)
            </div>
            <div id="recent-updates">
                @if (areUpdates)
                {
                    <h2>Recent updates</h2>
                    <div class="@updatesCssClass">
                        @recentUpdates
                    </div>
                }
            </div>
        </div>        
    </div>
</div>
