@model IndicatorsUI.MainUI.Models.PageModel
<div id="key-bar-chart" style="display: none;">
    <div class="row">
        <div id="value-note-legend" class="col-md-12">
            <span>*</span> a note is attached to the value, hover over to see more details
        </div>
    </div>
    <div id="bar-chart-rag-and-bob-section" class="row">
        <div class="col-md-12">
            <div class="bar-compared-with-text">
                <i>Compared with benchmark:</i>
            </div>
            <div id="bar-chart-legend-rag-5" class="bar-chart-legend-outer-box">
                <div class="bar-chart-legend-box">
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)best.png" /> Better 99.8%
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)better.png" /> Better 95%
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)same.png" /> Similar
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)red.png" /> Worse 95%
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)worst.png" /> Worse 99.8%
                </div>
            </div>
            <div id="bar-chart-legend-rag-3" class="bar-chart-legend-outer-box">
                <div class="bar-chart-legend-box">
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)better.png" /> Better
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)same.png" /> Similar
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)red.png" /> Worse
                </div>
            </div>
            <div id="bar-chart-legend-bob" class="bar-chart-legend-outer-box">
                <div class="bar-chart-legend-box">
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bobLower.png" /> Lower
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)same.png" /> Similar
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bobHigher.png" /> Higher
                </div>
            </div>
            <div id="bar-chart-legend-not-compared" class="bar-chart-legend-outer-box">
                <div class="bar-chart-legend-box">
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)lightGrey.png" /> Not compared
                </div>
            </div>
        </div>
    </div>
    <div id="bar-chart-quintile-key-table" class="row">
        <div class="col-md-12">
            <span class="bar-compared-with-text">
                <i>Quintiles:</i>
            </span>
            <div id="bar-chart-quintile-rag" class="bar-chart-legend-outer-box left-margin">
                Best
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)rag-quintile-1.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)rag-quintile-2.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)rag-quintile-3.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)rag-quintile-4.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)rag-quintile-5.png" alt="" />&nbsp;
                Worst
            </div>
            <div id="bar-chart-quintile-bob" class="bar-chart-legend-outer-box left-margin">
                Low
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bob-quintile-1.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bob-quintile-2.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bob-quintile-3.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bob-quintile-4.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bob-quintile-5.png" alt="" />&nbsp;
                High
            </div>
            <div id="bar-chart-legend-not-compared" class="bar-chart-legend-outer-box">
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)lightGrey.png" /> Not applicable
            </div>
        </div>
    </div>
</div>