@model IndicatorsUI.MainUI.Models.PageModel
<div class="key-container clearfix" id="key-bar-chart" style="display: none;">
    <table class="key-table" cellspacing="0">
        <tr>
            <td class="key-text key-label"></td>
            @if (Model.DisplayRagKey)
            {
                <td class="key-spacer"></td>
                <td class="keyBar">
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)better.png" />
                </td>
                <td>
                    Better
                </td>
                <td class='keyBar'>
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)same.png" />
                </td>
                <td>
                    Similar
                </td>
                <td class='keyBar'>
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)red.png" />
                </td>
                <td>
                    Worse
                </td>
            }
            @if (Model.DisplayBlueKey)
            {
                <td class="key-spacer"></td>
                <td class="keyBar">
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bobLower.png" />
                </td>
                <td>
                    Lower
                </td>
                <td class='keyBar'>
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)same.png" />
                </td>
                <td>
                    Similar
                </td>
                <td class='keyBar'>
                    <img class="bar keyBar" src="@(ViewBag.ImagesUrl)bobHigher.png" />
                </td>
                <td>
                    Higher
                </td>
            }
            <td class="key-spacer"></td>
            <td class='keyBar'>
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)lightGrey.png" />
            </td>
            <td>
                Not compared
            </td>
        </tr>

        <tr>
            <td></td>
            @*Show quintile legend*@
            <td class="key-spacer"></td>
            <td class='keyBar quintile-key' colspan="7" style="display: none;">
                Low
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)quintile1.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)quintile2.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)quintile3.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)quintile4.png" alt="" />&nbsp;
                <img class="bar keyBar" src="@(ViewBag.ImagesUrl)quintile5.png" alt="" />&nbsp;
                High
            </td>
        </tr>

    </table>

</div>
