@using System.Web.Optimization
@using IndicatorsUI.MainUI.Models;
@* Shared/_LayoutPage.cshtml *@
@{
    var pageModel = (PageModel)ViewBag.PageModel;
}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    @Html.Partial("_SupportedBrowserCheck")
    @Html.Partial("_HttpsCheck")
    @Html.Partial("_MetaTags")
    <title>
        @ViewBag.PageModel.Title
    </title>
    @Html.Partial("_Favicon")
    @Styles.Render("~/bundles/css-fingertips")
    @Styles.Render("~/bundles/css-angular")
    @Html.Partial("_GoogleAnalytics")
    @Scripts.Render("~/bundles/js-fingertips")
    @Html.Partial("_AngularBundle", pageModel)
    @Scripts.Render("~/bundles/js-fingertips-js-file")
    @Scripts.Render("~/bundles/js-site-key-indicators")
    @Html.Partial("_JsUrls", pageModel)
    @RenderSection("headContent", true)
</head>
<body>
    @Html.Partial("_PheLogoBanner")
    @Html.Partial("_Banner", pageModel)
    @RenderBody()
    <div class="container-fluid">
        @Html.Partial("_SiteFooter", pageModel)
    </div> <!--container end-->
    <div id="trend-helper" style="display: none;">
    </div>
    @* this form will be used to capture any part of profiles using html2canvas *@
    <form id="image-capture-form" action="/capture-shot" method="POST">
        @Html.Hidden("captured-image")
        @Html.Hidden("tab-name")
    </form>
</body>
</html>