@using System.Configuration
@using IndicatorsUI.DataAccess
@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Helpers
@using IndicatorsUI.MainUI.Models
@model PageModel

@{
    var profileId = Model.ProfileId;
    var profileUrlKey = ViewBag.ProfileUrlKey;
    var isSiteFrontPage = Model.PageType == PageType.SiteFrontPage;
}

@if (isSiteFrontPage == false)
{
    @Html.Partial("_Breadcrumbs")
}

<ul style="float: right;">

    @if (isSiteFrontPage)
    {
        // These links are only displayed on the Fingertips front page
        <li class="site-link">
            <a href="/documents/UserGuide.pdf" target="_blank"
               title="Provides an introduction on how to interpret and understand the data presented">Introduction</a>
        </li>
    }
    else
    {
        @*Profile specific pages - TODO add these in the database and editable in FPM*@
    switch (profileId)
    {
        case ProfileIds.Tobacco:
        case ProfileIds.LiverDisease:
            <li class="site-link">@(new SupportingPage(profileUrlKey, ContentKeys.FurtherInfo, profileId).Link)</li>
            <li class="site-link">@(new SupportingPage(profileUrlKey, ContentKeys.Faqs, profileId).Link)</li>
            break;
        case ProfileIds.Phof:
            <li class="site-link">@(new SupportingPage(profileUrlKey, ContentKeys.FurtherInfo, profileId).Link)</li>
            break;
        case ProfileIds.HealthProfiles:
            <li class="site-link">@(new SupportingPage(profileUrlKey, ContentKeys.Faqs, profileId).Link)</li>
            break;
        case ProfileIds.LocalAlcoholProfiles:
            <li class="site-link">@(new SupportingPage(profileUrlKey, ContentKeys.FurtherResources, profileId).Link)</li>
            break;
        case ProfileIds.SexualHealth:
            <li class="site-link"><a href="/documents/SRH Profiles_calendar.docx">Tool Updates</a></li>
            break;
        case ProfileIds.WiderDeterminantsOfHealth:
            <li class="site-link">@(new SupportingPage(profileUrlKey, ContentKeys.FurtherInformation, profileId).Link)</li>
                break;
        }
    }

    @*Technical guidance*@
    <li class="site-link">
        <a href="/profile/guidance"
           title="Supporting materials to assist with interpretation of the Fingertips profiles and further use of the indicator data">
            Technical Guidance
        </a>
    </li>

    @*Contact us*@
    @if (isSiteFrontPage == false && (
                profileId == ProfileIds.HealthProfiles || profileId == ProfileIds.Tobacco ||
                profileId == ProfileIds.Phof || profileId == ProfileIds.ChildHealth))
    {
        // Profiles with their own contact us pages
        <li class="site-link">@(new SupportingPage(profileUrlKey, ContentKeys.ContactUs, profileId).Link)</li>
    }
    else
    {
        var subject = isSiteFrontPage ? "General enquiry" : profileUrlKey;
        <li class="site-link">@(new ContactUs("profilefeedback@phe.gov.uk", subject).Link)</li>
    }

    @if (AppConfig.Instance.IsFeatureActive("userAccountEnabled"))
    {
        @Html.Partial("_YourAccountMenu")
    }
</ul>
