@using IndicatorsUI.MainUI.Models
@model PageModel
@* Tabs *@
<div id="tabs" class="selectionBox clearfix">
</div>
@* Menus and key *@
@{
    var hasNearestNeighbours = ViewBag.IsNational;
}

<div id="view-options" class="container">
    <div class="row" id="area-type">
        <div class="col-md-4">    
            @Html.Partial("_AreaTypeMenu")
        </div>
        <div class="col-md-5">
            @Html.Partial("_ParentTypeMenu")
        </div>
        <div class="col-md-3">
            @Html.Partial("_BenchmarkMenu")
            @Html.Partial("_BenchmarkAgainstGoal")
        </div>
        <div id="nearest-neighbour-links" class="col-md-9" style="display: none;"></div>
    </div>

    <div class="row" id="area">
        @if (hasNearestNeighbours)
        {
            <div id="nearest-neighbour-header" class="col-md-9" style="display: none;"></div>
        }
        <div class="col-md-4 nearest-neighbours-hide">
            @Html.Partial("_AreaMenu")
        </div>
        <div class="col-md-5 nearest-neighbours-hide">
            @Html.Partial("_ParentAreaMenu")
            @if (hasNearestNeighbours)
            {
                <div id="nearest-neighbour-wrapper" style="display: none;">
                    <a id="nearest-neighbour-link" onclick="nearestNeighboursSelected()" class="a-link"></a>
                </div>
            }
            <div id="area-list-wrapper" class="area-list-wrapper">
                <a id="edit-new-area-list-link" onclick="redirectToEditAreaList();" class="a-link edit-area-list-link">Edit</a>
                <a id="create-new-area-list-link" onclick="redirectToCreateNewAreaList();" class="a-link create-new-area-list-link">New area list</a>
            </div>
            <div id="sign-in-link-wrapper" class="sign-in-link-wrapper">
                <a id="sign-in-link" onclick="redirectToSignIn();" class="a-link sign-in-link">
                    Sign in to create new area list
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div id="filter-indicator-wrapper" class="filter-indicator-wrapper">
                <a id="filter-indicators" onclick="showFilterIndicatorsLightBox()" class="a-link">Filter indicators</a>
            </div>
        </div>
    </div>
    <!--Here's the GP address placeholder-->
    @Html.Partial("_GPPracticeAddress")
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_IndicatorsMenu")
        </div>
    </div>
</div>
@Html.Partial("_Key")
