@using Profiles.MainUI.Models;
@model PageModel

<div class="container">
    <div class="row">
        <div id="" class="col-md-12 clearfix">
            @Html.Partial(Model.GetSkinView("_PageLinks"))
        </div>
        <div id="site-link" class="col-md-12 clearfix">

            @* Define title *@
            @{
                var pageTitle = Model.PageTitle;
                var isPageTitleDefined = string.IsNullOrEmpty(pageTitle) == false;
                var title = (Model.DisplayProfileTitle && isPageTitleDefined)
                    ? pageTitle
                    : Model.Skin.Title;
            }

            @* Display title*@
            @{
                var fontSize = TitleFont.GetSize(title, Model.ProfileId);
            }
            <h1 style="@fontSize">
                @if (Model.Skin.IsPhof || Model.Skin.IsTobacco)
                {
                    <a href="/" class="homeHeader">@Html.Raw(title) </a>
                }
                else
                {
                    @Html.Raw(title)
                }
            </h1>

            @Html.Partial("SearchBox")
        </div>
    </div>
</div> <!--container end-->
