@model Profiles.MainUI.Models.PageModel
<div class="standardWidth clearfix">

    @Html.Partial("KeybarChart")
    @Html.Partial("_KeyValueNote")
    @Html.Partial("KeySpineChart")
    @Html.Partial("KeyTartanRug")
    @Html.Partial("KeyInequality")
    @Html.Partial("_KeyRecentTrends")
    @Html.Partial("KeyDataQuality")
    @* used for dynamically generated keys *@
    <div id="keyAdHoc" class="keyContainer" style="display: none;"></div>
</div>
<div class="standardWidth clearfix">
    <div id="tab-specific-options" class="tab-options clearfix" style="display: none;"></div>
    @Html.Partial("_SortMultipleCharts")
</div>
@* used for Area Profiles *@
<script type="text/javascript">
//<![CDATA[
    var spineChartImage = '@(ViewBag.ImagesUrl)spine-key-label-id-@(Model.SpineChartMinMaxLabel.LabelId).png';
//]]</script>

