@model Profiles.MainUI.Models.PageModel
<div class="keyContainer" id="key-spine-chart" style="display: none;">
    <table id="spineTable" class="keyTable @(Model.DisplayBothKeyColorings ? "" : "key-one-triplet")" cellspacing="0">
        <tr>
            <td class="keyText"></td>
            @if (Model.DisplayRagKey)
            {
                <td class="keySpacer"></td>
                <td class='keySpine'>
                    <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_green_mini.png" alt=""/>
                    Better
                    <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_orange_mini.png" alt=""/>
                    Similar
                    <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_red_mini.png" alt=""/>
                    Worse
                </td>
            }
            @if (Model.DisplayBlueKey)
            {
                <td class="keySpacer"></td>
                <td class="keySpine">
                    <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_darkblue_mini.png"
                         alt="" />
                    Lower
                    <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_orange_mini.png" alt=""/>
                    Similar
                    <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_lightblue_mini.png" alt="" />
                    Higher
                </td>
            }
            <td class="keySpacer"></td>
        </tr>

        <tr>
            <td></td>
            @*Show quintile legend*@
            <td class="keySpacer"></td>
            <td id="quintile-key" class='keySpine quintileKey' colspan="5">
                Low
                <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_quintile1_mini.png" alt=""/>&nbsp;
                <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_quintile2_mini.png" alt=""/>&nbsp;
                <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_quintile3_mini.png" alt=""/>&nbsp;
                <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_quintile4_mini.png" alt=""/>&nbsp;
                <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_quintile5_mini.png" alt=""/>&nbsp;
                High
            </td>
        </tr>
            
        <tr>
            <td></td>
            @if (Model.DisplayBothKeyColorings)
            {
                <td class="keySpacer"></td>
                <td class='keySpine' style="padding-top:6px;">
                    <img class="keyCircle" src="@(ViewBag.ImagesUrl)circle_white_mini.png" alt=""/>
                    Not Compared
                </td>
            }
        </tr>
    </table>

    @if (Model.HasTrendMarkers)
    {
        <div class="trendLegends" id="trend-marker-legend-spine" >
            <table class="keyTable" cellspacing="0">
                <tr>
                    <td ><img src="~/images/trends/no_calc.png" /></td>
                    <td class="legendText">Could not be calculated</td>
            
                    <td ><img src="~/images/trends/up_red.png" /></td>
                    <td class="legendText">Increasing and worse</td>
            
                    <td ><img src="~/images/trends/up_green.png" /></td>
                    <td class="legendText">Increasing and better</td>
                </tr>
                <tr>
                    <td ><img src="~/images/trends/down_red.png" /></td>
                    <td class="legendText">Decreasing and worse</td>

                    <td ><img src="~/images/trends/down_green.png" /></td>
                    <td class="legendText">Decreasing and better</td>

                    <td ><img src="~/images/trends/no_change.png" /></td>
                    <td class="legendText">No signficant change</td>

                </tr>
        </table>
        </div>
    }

</div>
