@using Profiles.MainUI.Models
@model Profiles.MainUI.Models.PageModel
<div class="keyContainer" id="keyTartanRug" style="display: none;">
    <table class="keyTable" cellspacing="0">
        <tr>
            <td class="keyText"></td>
            @if (Model.DisplayRagKey)
            {
                <td class="keySpacer"></td>
                <td class='better key'>
                    <div class="tartanBox keyBox">
                        <img class="tartanFill printOnly" src="@(ViewBag.ImagesUrl)better.png"
                             alt="" />
                        <div class="tartanText">
                            Better
                        </div>
                    </div>
                </td>
                <td class='same key'>
                    <div class="tartanBox keyBox">
                        <img class="tartanFill printOnly" src="@(ViewBag.ImagesUrl)same.png"
                             alt="" />
                        <div class="tartanText">
                            Similar
                        </div>
                    </div>
                </td>
                <td class='worse key'>
                    <div class="tartanBox keyBox">
                        <img class="tartanFill printOnly" src="@(ViewBag.ImagesUrl)red.png"
                             alt="" />
                        <div class="tartanText">
                            Worse
                        </div>
                    </div>
                </td>
            }
            @if (Model.DisplayBlueKey)
            {
                <td class="keySpacer"></td>
                <td class='bobLower key'>
                    <div class="tartanBox keyBox">
                        <img class="tartanFill printOnly" src="@(ViewBag.ImagesUrl)bobLower.png"
                             alt="" />
                        <div class="tartanText">
                            Lower
                        </div>
                    </div>
                </td>
                <td class='same key'>
                    <div class="tartanBox keyBox">
                        <img class="tartanFill printOnly" src="@(ViewBag.ImagesUrl)same.png"
                             alt="" />
                        <div class="tartanText">
                            Similar
                        </div>
                    </div>
                </td>
                <td class="bobHigher key">
                    <div class="tartanBox keyBox">
                        <img class="tartanFill printOnly" src="@(ViewBag.ImagesUrl)bobHigher.png"
                             alt="" />
                        <div class="tartanText">
                            Higher
                        </div>
                    </div>
                </td>
            }
            @*Show quintile legend*@
    <td class='grade-quintile-1 key quintileKey'>
            <td class="keySpacer "></td>
            <td class='grade-quintile-1 key quintileKey'>
                <div class="tartanBox keyBox">
                    <div class="tartanText">
                        Low
                    </div>
                </div>
            </td>
            <td class='grade-quintile-2 key quintileKey'>
                <div class="tartanBox keyBox">
                    <div class="tartanText">
                    </div>
                </div>
            </td>
            <td class='grade-quintile-3 key quintileKey'>
                <div class="tartanBox keyBox">
                    <div class="tartanText">
                    </div>
                </div>
            </td>
            <td class='grade-quintile-4 key quintileKey'>
                <div class="tartanBox keyBox">
                    <div class="tartanText">
                    </div>
                </div>
            </td>
            <td class='grade-quintile-5 key quintileKey'>
                <div class="tartanBox keyBox">
                    <div class="tartanText">
                        High
                    </div>
                </div>
            </td>
            <td class="keySpacer"></td>
            <td id="tartan-key-part" class="none key keyBoxRight" style="display:none;">
                <div class="tartanBox keyBox">
                    Not compared
                </div>
            </td>
            <td id="map-key-part2" class="none key keyBoxRight" style="display:none;">
                <div class="tartanBox keyBox">
                    Not compared
                </div>
            </td>
        </tr>
    </table>
    
    @if (Model.HasTrendMarkers)
    {
        <div class="trendLegends" id="trend-marker-legend-tartan" >
            <table class="keyTable" cellspacing="0">
            <tr>
                <td ><img src="~/images/trends/no_calc.png" /></td>
                <td class="legendText">Could not be calculated</td>
            
                <td ><img src="~/images/trends/up_red.png" /></td>
                <td class="legendText">Increasing and worse</td>
            
                <td ><img src="~/images/trends/up_green.png" /></td>
                <td class="legendText">Increasing and better</td>
            
                <td ><img src="~/images/trends/down_red.png" /></td>
                <td class="legendText">Decreasing and worse</td>

                <td ><img src="~/images/trends/down_green.png" /></td>
                <td class="legendText">Decreasing and better</td>

                <td ><img src="~/images/trends/no_change.png" /></td>
                <td class="legendText">No signficant change</td>
            </tr>
        </table>
        </div>
    }
</div>
