@using Profiles.MainUI.Models
@using Profiles.MainUI.Helpers
@model PageModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section headContent {
    <link href="@(Model.CssPath)core-contentpages.css" rel="stylesheet" type="text/css" />
    <link href="@(Model.CssPath)practice-profiles.css" rel="stylesheet" type="text/css" />

    @Html.Partial("../PracticeProfiles/_IE8")
}
<div class="title-divider"></div>
<div id="views-national-general-practice-profiles-front-page">
        <div id="national-general-practice-profiles">
                @Html.Partial("_IntroductionAndRecentUpdates")

                @Html.Partial("_PracticeProfilesDomainCollection")

        </div>

</div>

