@model Profiles.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Mortality/_MortalityLayoutPage.cshtml";
}
@section headContent {
     @Html.Partial("_InterventionHead")
}

<div id="header_bottom" class="clearfix">
    <ul id="breadcrumbs">
        <li><a href="javascript:MT.nav.home();">Home</a></li>
        <li><a href="javascript:MT.nav.rankings();">Mortality rankings</a></li>
        <li class="last">Liver disease</li>
    </ul>
</div>

<div id="content" class="interventions clearfix">
    <div id="related_content">
        @Html.Partial("_BestWorstNationally")
        <div class="useful_links">
            <h4>Useful links:</h4>
            <ul>
                <li><a href="http://www.nhs.uk/conditions/liver-disease/pages/introduction.aspx" class="external_link" target="_blank">Learn more about the causes of liver disease</a></li>
                <li><a href="http://www.nice.org.uk/guidance/PH24" class="external_link" target="_blank">Find more liver disease interventions at NICE</a></li>
         @Html.Partial("_CampaignLink")
                   </ul>
        </div>
    </div>
    <div id="main_content">
        <h2>Health interventions</h2>
        <h1>Liver disease</h1>
        <div class="hr">
            <hr />
        </div>
        <p class="intro">Liver disease causes more early deaths in England every year, having risen 20 per cent from 2000 to 2009 (compared with a 20 per cent reduction in the EU).<sup>1</sup> There are more than 200 types of the disease, together affecting almost 2 million people in the UK.</p>
        <p>Premature mortality from liver disease is closely linked to risk factors in the local area, with rates highest in the northwest of England. It develops silently, often without symptoms, and many people have no idea they have liver failure until it is too late.</p>
        <img src="@(ViewBag.ImagesUrl)Mortality/human_liver.jpg" alt="Human liver" />
        
        @* Headings *@
	    <ul class="row">
	        <li class="col col1">
	                        <img src="@(ViewBag.ImagesUrl)Mortality/drinking.jpg" alt="Drinking alcohol" />
            <h3>Common causes of liver disease:</h3>
	        </li>
	        <li class="col col2">
	                        <img src="@(ViewBag.ImagesUrl)Mortality/salad.jpg" alt="Salad" />
            <h3>Liver disease interventions:</h3>
	        </li>  
	    </ul>
        
        @* Alcohol *@
        <ul class="row">
            <li class="col col1">
                <h4>1. Alcohol</h4>
                            <p>Alcohol is England’s second biggest avoidable killer behind tobacco. It’s estimated that a quarter of people aged 16–65 in England consume alcohol in a way that is potentially harmful to their health.
                <span class="nice_link"><a href="http://www.nice.org.uk/advice/lgb6" class="external_link" target="_blank">More about alcohol-related mortality</a></span>
            </p>
            </li>
            <li class="col col2">
                <h4>1. Alcohol</h4>
                            <ul>
                <li>Campaigns to raise awareness of the dangers of alcohol and the silent nature of liver disease</li>
                <li>Consider the restriction of alcohol consumption in public places and enforcement of underage sales penalties</li>
                <li>Support GPs in making early risk assessments for liver disease, e.g., the Southampton Traffic Light Test (STL)</li>
            </ul>
            </li>  
        </ul>
        
         @* Obesity *@
        <ul class="row">
            <li class="col col1">
                <h4>2. Obesity</h4>
                            <p>Obesity has increased across all age groups and both genders and is linked to deprivation, with the most affected areas being the northwest, Midlands and parts of the southeast of England.<sup>2</sup>
     
               <span class="nice_link"><a href="http://www.nice.org.uk/advice/lgb9" class="external_link" target="_blank">More about obesity</a></span>
</p>
            </li>
            <li class="col col2">
                <h4>2. Obesity</h4>
                            <ul>
                <li>Campaigns promoting healthy eating and exercise, such as Change4Life</li>
                <li>Local services to help with weight loss and weight management</li>
                <li>Delivery of planned care pathways like ‘Let’s Get Moving’, involving screening, counselling and self-monitoring</li>
            </ul>
            </li>  
        </ul>

        @* Hepatitis *@
        <ul class="row">
            <li class="col col1">                           
                <h4>3. Hepatitis</h4>
                <p>Hepatitis is inflammation of the liver resulting from infection or exposure to harmful substances such as alcohol. Premature deaths may also be due to undetected Hepatitis B and C.</p>
            </li>
            <li class="col col2">  
                <h4>3. Hepatitis</h4>
                                <ul>
                    <li>Improve testing for Hepatitis B and C</li>
                    <li>Introduce universal vaccination against Hepatitis B for at-risk groups, e.g., via sexual health clinics</li>
                    <li>Improve awareness of transmission of Hepatitis B and C, including ways to reduce infection risk</li>
                </ul>
            </li>  
        </ul>


        <h3 class="no_margin">Case study: Southampton’s ‘Traffic Light Test’</h3>
        <p>Authority type: <b>City Council</b><br />
            Political affiliation: <b>Labour</b></p>
        <p><strong>A simple test available in primary care could help diagnose liver disease much earlier, enabling those at risk to change their behaviour, and saving lives.</strong></p>
        <p>The Southampton Traffic Light (STL) test, developed at the University of Southampton, combines several different blood tests and clinical markers. The resulting red, amber or green score indicates the patient’s likelihood of developing liver fibrosis and cirrhosis.</p>
        <p><span class="red">Red</span> = liver scarring (fibrosis) and possible cirrhosis.</p>
        <p><span class="amber">Amber</span> = at least a 50:50 chance of scarring with a significant possibility of death within five years. Patients are advised to stop drinking to avoid further disease and death.</p>
        <p><span class="green">Green</span> = no cirrhosis. Patient is unlikely to die from liver disease in next five years.</p>
        <p>The STL was given to more than 1,000 patients and their progress was carefully followed and monitored, in some cases over several years. The test proved accurate in detecting severe liver disease.</p>
        <p>While not a substitute for clinical judgement or other liver function tests, the STL can provide GPs with an objective way of accurately assessing the potential severity of liver fibrosis in high-risk patients, for example, heavy drinkers, those with type II diabetes, or obese people. Patients can then begin a programme of monitoring or more intensive therapies.</p>
        <p>Dr Nick Sheron, lead author and Head of Clinical Hepatology at the University of Southampton, said that, until now, GPs had no tools with which to detect liver disease in patients and intervene: ‘We hope that this type of test for liver scarring may start to change this because the earlier we can detect liver disease, the more liver deaths we should be able to prevent.’ Study co-author and GP Dr Michael Moore confirmed that ‘The traffic light test has the advantage of highlighting those at highest risk who should be investigated further and those in whom the risk is much lower where a watchful approach is more appropriate’.</p>
        <p class="quote">‘The traffic light test has the advantage of highlighting those at highest risk who should be investigated further and those in whom the risk is much lower where a watchful approach is more appropriate.’<br />
            <span class="author">Dr Michael Moore, study co-author</span></p>
        <div class="foot_notes">
            <p><sup>1</sup> Annual Report of the Chief Medical Officer: Volume 1, 2011: On the State of the Public’s  Health</p>
            <p><sup>2</sup> National Obesity Observatory</p>
        </div>
    </div>
</div>
