@model Profiles.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Mortality/_MortalityLayoutPage.cshtml";
}
@section headContent {
     @Html.Partial("_InterventionHead")
}

<div id="header_bottom" class="clearfix">
    <ul id="breadcrumbs">
        <li><a href="javascript:MT.nav.home();">Home</a></li>
        <li><a href="javascript:MT.nav.rankings();">Mortality rankings</a></li>
        <li class="last">Heart disease &amp; stroke</li>
    </ul>
</div>

	<div id="content" class="interventions clearfix">
		<div id="related_content">
        @Html.Partial("_BestWorstNationally")
			<div class="useful_links">
				<h4>Useful links:</h4>
				<ul>
					<li><a href="http://www.nhs.uk/conditions/Cardiovascular-disease/Pages/Introduction.aspx"  class="external_link" target="_blank">Learn more about the causes of heart disease &amp; stroke</a></li>
					<li><a href="http://publications.nice.org.uk/prevention-of-cardiovascular-disease-ph25"  class="external_link" target="_blank">Find more heart disease &amp; stroke interventions at NICE</a></li>
				@Html.Partial("_CampaignLink")
                </ul>
			</div>
		</div>
		<div id="main_content">
			<h2>Health interventions</h2>
			<h1>Heart disease and stroke</h1>
			<div class="hr"><hr /></div>
			<p class="intro">Both coronary heart disease (CHD) and stroke belong to the wider category of cardiovascular disease (CVD). CVD is the main cause of death in England at all ages, accounting for nearly a third of all deaths in 2010 – more than 147,000.<sup>1</sup></p>
			<p>Heart disease is closely linked with deprivation in England. Heart disease mortality rates are around 50 per cent higher in most deprived areas of the country compared with the least deprived<sup>1</sup>, and are higher in the North than the South.</p>
		    <img src="@(ViewBag.ImagesUrl)Mortality/human_heart.jpg" alt="Human heart" />
            

        @* Headings *@
	    <ul class="row">
	        <li class="col col1">
		        <img src="@(ViewBag.ImagesUrl)Mortality/couch_potato.jpg" alt="Couch potato" />
		        <h3>Common causes of heart disease and stroke:</h3>
	        </li>
	        <li class="col col2">
		        <img src="@(ViewBag.ImagesUrl)Mortality/nature_walk.jpg" alt="Nature walk" />
		        <h3>Heart disease interventions:</h3>
	        </li>  
	    </ul>
            
        @* Smoking *@
	    <ul class="row">
	        <li class="col col1">
	            <h4>1. Smoking</h4>
                		        <p>Smokers are almost twice as likely to have a heart attack as non-smokers. This is due to the narrowing of the arteries, reduced oxygen in the blood and increased likelihood of blood clots caused by cigarette smoke.
		            <span class="nice_link"><a href="http://www.nice.org.uk/advice/lgb1" class="external_link" target="_blank">More about smoking-related mortality</a></span>
		        </p>
	        </li>
	        <li class="col col2">
	            <h4>1. Smoking</h4>
                		        <ul>
		            <li>Provision of smoking cessation services within primary care and the workplace, and possible provision of pharmacotherapy</li>
		            <li>Regular, targeted campaigns designed to prevent smoking uptake among under-18s and promote smoke-free homes and cars</li>
		            <li>Greater enforcement of underage sales and counterfeit tobacco penalties</li>
		        </ul>
	        </li>  
	    </ul>      
            
         @* Poor diet *@
		    <ul class="row">
		        <li class="col col1">
		            <h4>2. Poor diet and physical inactivity</h4>
                    		        <p>A diet high in saturated fat increases blood cholesterol levels, which leads to atherosclerosis, one of the main causes of heart disease. Regular exercise can reduce the risk of a heart attack by around 30 per cent.<sup>1</sup>
		            <span class="nice_link"><a href="http://www.nice.org.uk/advice/lgb3" class="external_link" target="_blank">More about mortality related to physical inactivity</a></span>    
		        </p>
		        </li>
		        <li class="col col2">
		            <h4>2. Poor diet and physical inactivity</h4>
                    		        <ul>
		            <li>Healthy eating learning programmes for children, to establish healthy patterns earlier</li>
		            <li>Community support for physically active modes of travel, like walking and cycling</li>
		            <li>Delivery of planned care pathways like ‘Let’s Get Moving’, involving screening, counselling and self-monitoring</li>
		        </ul>
		        </li>  
		    </ul>
            
                
		@* High blood pressure *@
	    <ul class="row">
	        <li class="col col1">
	            <h4>3. High blood pressure</h4>
                	<p>High blood pressure can affect artery walls, which can stiffen and become blocked. If left untreated, it can cause the heart to become enlarged and pump less effectively, leading to possible heart failure and stroke.</p>
            </li>
	        <li class="col col2">
	            <h4>3. High blood pressure</h4>
                		        <ul>
		            <li>Advice to reduce intake of salt and processed food, which is high in salt and is linked with high blood pressure</li>
		                            <li>Campaigns to promote physical activity</li>
                                    		   		    <span class="nice_link"><a href="http://publications.nice.org.uk/prevention-of-cardiovascular-disease-ph25" class="external_link" target="_blank">More about the prevention of cardiovascular disease</a></span> 
    
		        </ul>
	        </li>  
	    </ul>  
            
           

		    <h3>Case study: Sutton and Merton Responsibility Deal and Walk4Life</h3>
            <p>Authority type: <b>Twin London boroughs</b><br />
            Political affiliation: <b>Labour (Merton)</b></p>
		    <p><strong>The twin London boroughs of Sutton and Merton responded to the government’s Public Health Responsibility Deal with a local version designed to promote healthy eating and activity in their communities.</strong></p>
			<p>The premise was simple – local food businesses pledged to help their customers make healthier choices through some simple actions and suggestions. The flexible framework, known as ‘my choice’, could include anything from promoting a ‘healthy choice of the day’ on a café menu to sales of water and fruit, and reducing portion sizes. If they wanted to, businesses were given the opportunity to work towards the Mayor of London’s Healthier Catering Commitment Award.</p>
			<p>One café in Mitcham stated that they wanted to ‘Change some people’s perception of going out and eating as much as possible for as little as possible. We want to give people the opportunity to know there are healthier options out there’.</p>
			<p>Sutton and Merton also runs Walk4Life, a programme encouraging and supporting elderly residents to leave their car at home and walk, cycle or use public transport more often. As well as creating maps of walking and bus routes, and placing benches along routes into the town centre, the scheme offers regular, free group walks for over-55s at a number of locations around the borough on an almost daily basis.</p>
			<p class="quote">‘We wanted to change some people’s perception of going out and eating as much as possible for as little as possible. We want to give people the opportunity to know there are healthier options out there’ <span class="author">– La Poste Coffee Bar, Mitcham</span></p>
			<div class="foot_notes">
				<p><sup>1</sup> British Heart Foundation. Coronary Heart Disease Statistics in England, 2012.</p>
			</div>
		</div>
	</div>
</div>
