@model Profiles.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Mortality/_MortalityLayoutPage.cshtml"; 
}
@section headContent {
     @Html.Partial("_InterventionHead")
}

<div id="header_bottom" class="clearfix">
    <ul id="breadcrumbs">
        <li><a href="javascript:MT.nav.home();">Home</a></li>
        <li><a href="javascript:MT.nav.rankings();">Mortality rankings</a></li>
        <li class="last">Cancer</li>
    </ul>
</div>

<div id="content" class="interventions clearfix">
    <div id="related_content">
        @Html.Partial("_BestWorstNationally")
        <div class="useful_links">
            <h4>Useful links:</h4>
            <ul>
                <li><a href="http://www.nhs.uk/conditions/cancer/pages/introduction.aspx" class="external_link" target="_blank">Learn more about the causes of cancer</a></li>
                
                <li><a href="http://publications.nice.org.uk/physical-activity-phb3" class="external_link" target="_blank">Find more about physical activity at NICE</a></li>
                 @Html.Partial("_CampaignLink")
             </ul>
        </div>
    </div>
	<div id="main_content">
		<h2>Health interventions</h2>
		<h1>Cancer</h1>
		<div class="hr"><hr /></div>
		<p class="intro">More than one in three people in the UK will develop some form of cancer during their lifetime.<sup>1</sup> Although there are more than 200 different types, lung, breast, prostate and bowel cancers account for more than half of cancer diagnoses each year.</p>
		<p>Cancer is a group of conditions where cells in a specific part of the body grow and reproduce uncontrollably. It accounts for a quarter of all deaths in England, and survival is generally lower among patients in more deprived areas.</p>
		<img src="@(ViewBag.ImagesUrl)Mortality/cancer_cells.jpg" alt="Cancer cells" />
        
         @* Headings *@
	    <ul class="row">
	        <li class="col col1">
            <img src="@(ViewBag.ImagesUrl)Mortality/fryup.jpg" alt="Fryup" />
			<h3>Common causes of cancer:</h3>
	        </li>
	        <li class="col col2">
	            <img src="@(ViewBag.ImagesUrl)Mortality/running.jpg" alt="Running" />
	            <h3>Cancer interventions:</h3>
	        </li>  
	    </ul> 
            
	    @* Smoking *@
	    <ul class="row">
	        <li class="col col1">
	            <h4>1. Smoking</h4>
	            <p>Smoking is by far the most important preventable cause of cancer. It is responsible for one in four UK cancer deaths, and nearly a fifth of all cancer cases. Nearly half of all smokers will eventually die from smoking-related diseases.<sup>2</sup>
	                <span class="nice_link"><a href="http://www.nice.org.uk/advice/lgb1"  class="external_link" target="_blank">More about smoking-related mortality</a></span>
	            </p>

	        </li>
	        <li class="col col2">
	            <h4>1. Smoking</h4>
	            <ul>
	                <li>Provision of smoking cessation services within primary care and the workplace, and possible provision of pharmacotherapy</li>
	                <li>Regular, targeted campaigns designed to prevent smoking uptake among under-18s and promote smoke-free homes and cars</li>
	                <li>Greater enforcement of underage sales and counterfeit tobacco penalties</li>
	            </ul>

	        </li> 
	    </ul>
                
	    @* Poor diet*@
        <ul class="row">
	        <li class="col col1">
                			<h4>2. Poor diet</h4>
			<p>After smoking, poor diet is one of the most important avoidable causes of cancer, and has been linked to bowel cancer, pancreatic cancer and oesophageal cancer.</p>

	        </li>
	        <li class="col col2">
	            	            	        <h4>2. Poor diet</h4>
	        <ul>
	            <li>Campaigns promoting healthy eating and exercise, such as Change4Life</li>
	            <li>Healthy eating learning programmes for children, to establish healthy patterns earlier</li>
	            <li>Delivery of planned care pathways like ‘Let’s Get Moving’, involving screening, counselling and self-monitoring</li>
	        </ul>
	        </li>
            
        </ul>

	    @* Alcohol *@
        <ul class="row">
	        <li class="col col1">
	            <h4>3. Alcohol</h4>
               <p>Alcohol has been classified as a Group 1 carcinogen since 1988, and is responsible for around 4 per cent of cancers in the UK each year – around 12,500 cases.<sup>1</sup> It is known to increase the risk of liver, mouth and bowel cancer among many others.
               <span class="nice_link"><a href="http://www.nice.org.uk/advice/lgb6"  class="external_link" target="_blank">More about alcohol-related mortality</a></span>
               </p>
	        </li>
	        <li class="col col2">
	            
	        <h4>3. Alcohol</h4>
	        <ul>
	            <li>Campaigns to raise awareness of the dangers of alcohol and the silent nature of liver disease</li>
	            <li>Consider the restriction of alcohol consumption in public places and enforcement of underage sales penalties</li>
	        </ul>
	        </li>
	    </ul>
       

        <h3>Case study: Tower Hamlets ‘Whole Systems’ breast-cancer screening programme</h3>
		<p>Authority type: <b>London Borough</b><br>
			Political affiliation: <b>Labour</b></p>
		<p><strong>The London Borough of Tower Hamlets has historically low participation rates in breast screening. To improve uptake, and therefore breast cancer mortality, the primary care trust designed a ‘whole systems’ approach tackling the problem from a number of different directions. The result was a 20 per cent improvement from 2005 to 2008. </strong></p> 
		<p>Tower Hamlets is a deprived borough in London’s East End with a large minority ethnic population (mostly Bangladeshi) and considerable levels of deprivation, both of which contribute reduced screening uptake. After research, the public health team at NHS Tower Hamlets and Forster for Change, developed a campaign targeting the white and Bangladeshi populations in different ways.</p>
		<p>A pilot with influential community group Social Action for Health involved calling Bangladeshi women who did not attend their appointments, rebooking their appointments for them and, in some cases, providing transport for groups of women to attend, resulting in an uptake of 69 per cent.</p>
		<p>For White women, a local ambassador was appointed to spread positive messages about breast screening for health, and a ‘Bosom Buddy’ pilot launched asking women who had been screened to encourage a friend or family member to attend, and help them through the appointment. Women with low literacy or with English as a second language were sent ‘talking invitations’ while two GP practices proactively called women before they received their invitations, encouraging them to attend.</p>
		<p>In primary care, GPs were incentivised to screen additional eligible women and training was provided to all 20 practices that formed the 2007/2008 screening round. A Bangladeshi GP screening lead was appointed for the PCT and GPs set up alerts to provide reminders when women attended clinics for other reasons. 10 per cent of women were also sent text messages, with an uptake rate of 70 per cent.</p>
		<p>Finally, the trust employed an external company to address the efficiency of call handling, leading to the set up of a dedicated call centre for the screening program, a 38 per cent drop in missed calls within a two-week period and a greater chance of women attending their appointments.</p>
		<div class="foot_notes">
			<p><sup>1</sup> Annual Report of the Chief Medical Officer: Volume 1, 2011: On the State of the Public’s Health</p>
		    <p><sup>2</sup> Mortality in relation to smoking: 50 years' observations on male British doctors. US National Library of Medicine. 
                <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC437139/"  class="external_link" target="_blank">http://www.ncbi.nlm.nih.gov/pmc/articles/PMC437139/</a></p>
		</div>
	</div>
</div>
