@using System.Web.Optimization
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using Profiles.MainUI.Models;
@model PageModel
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
        <meta name="author" content="Public Health England (PHE)" />
        <meta name="description" content="@ViewBag.MetaDescription" />
        <title>
            @Model.Title - @Model.PageTitle
        </title>
        @Html.Partial("_Favicon")
        @Styles.Render("~/bundles/css-longer-lives")
        <link rel="stylesheet" type="text/css" href="@(Model.CssPath)longer-lives-diabetes.css" />  
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyj06EYBaz66Rgi_wTeSmqI1_qBZxtuos&sensor=false" type="text/javascript"></script>
        @Scripts.Render("~/bundles/js-longer-lives")           
        <script src="@(Model.JsPath)LongerLives/Diabetes/SiteDiabetes.js" type="text/javascript"></script>
        <script type="text/javascript">        //<![CDATA[  
            FT = {version:'@ViewBag.JavaScriptVersion'};
            FT.url = {
                img: '@(ViewBag.ImagesUrl)',
                bridge: '@Model.BridgeServicesUrl',
                corews: '@Model.CoreServicesUrl'
            };
            profileTitle = '@ViewBag.Title';
            groupIds =  @Html.Raw(new JavaScriptSerializer().Serialize(ViewData["groupIds"]));
            profileUrlKey = '@ViewBag.ProfileUrlKey';
            MT.model.profileId = @Model.ProfileId;
            MT.model.areaTypeId = @(ViewBag.DefaultAreaType);    
            MT.model.parentAreaType = @(ViewBag.DefaultAreaType);    
            useJsonp =  @JsHelper.GetJsBool(ViewBag.UseJsonp);
            restrictSearchProfileId = @Model.TemplateProfileId;
            profileCollectionIdList = [@Model.TemplateProfileId];
            //]]</script>
        
@* Longer lives specific configuration*@
        @if (ViewBag.DomainsToDisplay != null)
        {
            <script type="text/javascript">//<![CDATA[
            SupportingProfileId = @ViewBag.LongerLivesSupportingProfileId;
            SupportingGroupId = @Html.Raw(new JavaScriptSerializer().Serialize(@ViewBag.SupportingGroupId));
            hasPracticeData = @ViewBag.HasPracticeData;
            MT.model.groupId = @ViewBag.DefaultGroupId;
            domainsToDisplay = @ViewBag.DomainsToDisplay;
            //]]</script>
        }

        @Html.Partial("_GoogleAnalytics")

        @RenderSection("headContent", true)
        
        @if (ViewBag.LongerLivesExtraJsFiles != null)
        {
            foreach (string jsFile in ViewBag.LongerLivesExtraJsFiles)
            {
                <script src="@JsHelper.GetIncludePath(jsFile, Model.JsPath)" type="text/javascript"></script>
            }
        }    
       
    </head>
<body>
    <div class="standardWidth">
        @Html.Partial("_DiabetesHeader")
    </div>
    @RenderBody()
    <div id="footerSpace">
        @Html.Partial("_DiabetesFooter")
    </div>
</body>
</html>
