@using IndicatorsUI.DomainObjects
@model IndicatorsUI.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Diabetes/_DiabetesLayoutPage.cshtml";
}
@section headContent {
    <script src="@(Model.JsPath)LongerLives/Diabetes/PageDiabetesPracticeDetails.js" type="text/javascript"></script>
}

<div id="header_bottom" class="clearfix">
    <ul id="breadcrumbs">        
        <li><a href="javascript:MT.nav.home();">Home</a></li>
        <li><a href="javascript:MT.nav.nationalRankings();">National comparisons</a></li>
        <li><a href="javascript:MT.nav.rankings();">Practice comparisons</a></li>
        <li class="last"><a>Practice details</a></li>
    </ul>
    @Html.Partial("_SearchAreaSmall")
</div>

@Html.Partial("Diabetes/_DiabetesPracticeDetailsSummary")

<div id="content" class="clearfix ranking_table_content">
    <div id="related_content">
        <div class="useful_links table_options">
            <h3 class="practice_is_in"></h3>            
            <a class="practice_in_area" href="javascript:MT.nav.rankings();"></a>
            <h3 class="no-print practice_is_category"></h3>            
        </div>
        <ul class="related_links no-print">
            <li>@Html.Partial("_PhofLink", GroupIds.Phof_HealthImprovment)</li>
            <li><a href="javascript:goToPracticeProfiles()" class="external_link">View more data about this practice at National General Practice Profiles</a></li>
            <li><a href="javascript:goToNhsChoices()" class="external_link">View this practice on NHS Choices</a></li>
            <li><a href="/topic/@(ViewBag.ProfileUrlKey)/about-data">About the data</a></li>            
        </ul>

    </div>
    <ul id="main_content" class="area-details">
        @Html.Partial("_LegendInlineBob", "Outcomes compared in the ")
        @Html.Partial("_LegendInlineQuintiles")
        <div class="table-data" id="mortality-rankings">
            <div class="header national clearfix">
                <h2>Indicator data for this GP practice</h2>
            </div>
            <table id="diabetes-rankings-table">
                <thead>
                    <tr>
                        <th><span>Indicator</span></th>
                        <th class="data-column"><span>Practice<br>value</span></th>
                        <th class="data-column"><span id="area-header"></span></th>
                        <th class="data-column"><span>England<br>value</span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </ul>
</div>
