@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Helpers
@model IndicatorsUI.MainUI.Models.PageModel
@{
    Layout = "~/Views/LongerLives/Diabetes/_DiabetesLayoutPage.cshtml";
}
@section headContent {
    <script src="@(Model.JsPath)vendor/google-maps-utility-library-v3-infobox/infobox.min.js"></script>
    <script src="@(Model.JsPath)tooltip.js" type="text/javascript"></script>
    <script src="@(Model.JsPath)LongerLives/PageBaseLongerLivesHome.js" type="text/javascript"></script>
    <script src="@(Model.JsPath)LongerLives/Diabetes/PageDiabetesHome.js" type="text/javascript"></script>
}

<div id="content">
    <div id="home-intro-@Model.ProfileId" class="home-intro clearfix">
        @ContentProvider.GetContent("home-header", Model.ProfileId)
    </div>

    @{
        bool showPublicHealthDashboardSearchArea = false;
        bool showExtraInfo = true;
        if (Model.ProfileId == ProfileIds.PublicHealthDashboard && (ViewBag.MapNoData == null))
        {
            showPublicHealthDashboardSearchArea = true;
            showExtraInfo = false;
        }
        <script type="text/javascript">
            //<![CDATA[
            MT.config.showMapWithNoData =  @Json.Encode(showExtraInfo);
             //]]</script>

    }


    @if (showPublicHealthDashboardSearchArea)
    {
        @Html.Partial("_SearchAreaPublicHealthDashboard")

    }
    else
    {
        @Html.Partial("_SearchArea")

    }
    <div id="map">
        <div class="map-overlays">
            @{
                if (showExtraInfo)
                {
                    @Html.Partial("_AreaAndMapZoomSelector")

                    @Html.Partial("_MapHelp")

                    @Html.Partial("Diabetes/_DiabetesDataFilter")

                    @Html.Partial("Diabetes/_MapLegend")

                    @Html.Partial("_ViewSimilar")
                }
            }
        </div>

        <div class="map-canvas" id="gmap">
            <noscript>Google maps requires JavaScript</noscript>
        </div>
    </div>
</div>
