@using System.Web.Optimization
@using Profiles.DomainObjects
@using Profiles.MainUI.Models
@model PageModel

@if (Model.ShowAreaSearchOnProfileFrontPage)
{
    @* Area search title *@
if (Model.ProfileId == ProfileIds.HealthProfiles)
{
    <h2>
        Find your Health Profile
    </h2>
}
else
{
    <h2>
        Find your area
    </h2>
}

    @Html.Partial("Spinner")


    <table id="area-search" class="table margin-left" style="display:none;">
        <tr><td>Search by postcode, town or local authority</td></tr>
        <tr><td>
                <input id="area-search-text" type="text" name="search_text" />
            </td></tr>
        <tr><td style="padding-top: 30px;">List areas by region</td></tr>
        <tr><td><select id="parent-area-menu"><option /></select></td></tr>
    </table>
    @Html.Partial("_SearchNoMatches")
    @Html.Partial("_JsUrls")
    @Styles.Render("~/bundles/css-area-search")
    @Scripts.Render("~/bundles/js-area-search")
    <script type="text/javascript">
        // Globals
        FT.model.areaTypeId = @AreaTypeIds.CountyAndUnitaryAuthority;
        FT.model.profileId = @Model.ProfileId;
        templateProfileId = -1;
        FT.version = '@ViewBag.JavaScriptVersion';

        // Initialisation
        $(document).ready(function() {
            areaSearch.init();
        });
    </script>
}
