@using System.Web.Optimization
@using IndicatorsUI.DomainObjects
@using IndicatorsUI.MainUI.Helpers
@using IndicatorsUI.MainUI.Models
@model PageModel

@if (Model.FrontPageAreaSearchAreaTypes != null)
{
    var areaSearch = new AreaSearchHelper(Model.ProfileId, Model.FrontPageAreaSearchAreaTypes);
    var areaTypeLabel = areaSearch.GetAreaTypeLabelSingular();

    <h2>
        @areaSearch.GetSearchHeading()
    </h2>

    @Html.Partial("_Spinner")

    <table id="area-search" class="table margin-left" style="display: none;">
        @if (areaSearch.IsPlaceNameSearchAvailable)
        {
            <tr><td>Search by postcode, town or @areaTypeLabel</td></tr>
            <tr>
                <td>
                    <input id="area-search-text" type="text" name="search_text"/>
                </td>
            </tr>
        }
        <tr><td style="padding-top: 30px;">List @(areaSearch.GetAreaTypeLabelPlural()) by region</td></tr>
        <tr><td><select id="parent-area-menu"><option/></select></td></tr>
    </table>
    @Html.Partial("_SearchNoMatches")
    @Styles.Render("~/bundles/css-area-search")
    @Scripts.Render("~/bundles/js-area-search")
    <script type="text/javascript">
        // Globals
        FT.model.areaTypeId = @AreaTypeIds.CountyAndUnitaryAuthority;
        FT.model.profileId = @Model.ProfileId;
        templateProfileId = -1;
        FT.version = '@ViewBag.JavaScriptVersion';
        FT.config.frontPageAreaSearchAreaTypes = [@Model.FrontPageAreaSearchAreaTypes];

        // Initialisation
        $(document).ready(function() {
            areaSearch.init();
        });
    </script>
}

@if (Model.ProfileId == ProfileIds.PracticeProfiles)
{
<script type="text/javascript">
    $(document).ready(function() {
        callAngularEvent('MapEnvReady-Event', { 'searchMode': true });
    });
</script>
}
