@using Fpm.MainUI.Helpers
@model Fpm.MainUI.Models.LookupModel

@if (Model.AreaTypes != null)
{
    var isAdministrator = UserDetails.CurrentUser().IsAdministrator;
    <table id="lookup-table" class="grid sortable">
        @Html.Partial("_TableHeader", new List<string> { "ID", "Short name", "Long name", "Component Area Types", "Selectable",
            "Searchable", "Warn for small numbers" })
        <tbody>
            @foreach (var areaType in Model.AreaTypes)
            {
                var isSupported = areaType.IsSupported ? "yes" : "no";
                var isSearchable = areaType.IsSearchable ? "yes" : "no";
                var shouldWarnForSmallNumbers = areaType.ShouldWarnForSmallNumbers ? "yes" : "no";
                <tr>
                    <td>
                        @if (isAdministrator)
                        {
                            @Html.ActionLink(areaType.Id.ToString(), "EditAreaType", new { areaTypeId = areaType.Id })
                        }
                        else
                        {
                            @areaType.Id
                        }
                    </td>
                    <td class="left">@areaType.ShortName</td>
                    <td class="left">@areaType.Name</td>
                    <td>@(areaType.GetComponentAreaTypesAsString())</td>
                    <td>@(isSupported)</td>
                    <td>@(isSearchable)</td>
                    <td>@(shouldWarnForSmallNumbers)</td>
                </tr>
            }
        </tbody>
    </table>
}