@model Fpm.MainUI.Models.LookupModel

@if (Model.Targets != null)
{

    <table id="lookup-table" class="grid sortable">
        @Html.Partial("_TableHeader", new List<string>
        {
            "ID","Description","Lower limit","Upper limit", "Polarity"
        })
        <tbody>
            @foreach (var target in Model.Targets)
            {
                <tr>
                    <td>@target.Id</td>
                    <td>@Html.ActionLink(target.Description, "TargetEdit", new {targetId = target.Id})</td>
                    <td>@target.GetLowerLimitDisplayValue()</td>
                    <td>@target.GetUpperLimitDisplayValue()</td>
                    <td>@Model.GetPolarityNameFromId(target.PolarityId)</td>
                </tr>
            }
        </tbody>
    </table>

    <input class="medium-button" type="button" onclick="setUrl('/lookup-tables/target/new')" value="New goal"/>
}