@using System.Web.Optimization
@using Fpm.MainUI

@{
    ViewBag.Title = "FPM - Reports";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@section ExtraScripts
{
    <script src="@(AppConfig.AngularAppDistPath)main.js" type="text/javascript" defer></script>
    <script src="@(AppConfig.AngularAppDistPath)polyfills.js" type="text/javascript" defer></script>
    <script src="@(AppConfig.AngularAppDistPath)runtime.js" type="text/javascript" defer></script>
    <script src="@(AppConfig.AngularAppDistPath)styles.js" type="text/javascript" defer></script>
    <script src="@(AppConfig.AngularAppDistPath)vendor.js" type="text/javascript" defer></script>
}

@section AngularApp
{
}

<div class="standardWidth">
    <h2 class="subheading">Reports</h2>
</div>

<div class="container" >
    <app-reports></app-reports>
</div>
